# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
*.env

# Build & dist artifacts
build/
dist/
*.egg-info/

# IDE / Editor files
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
