services:
  quay-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: quay-api
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    command: python src/main.py